body { 
    background: url("http://funnypicture.org/wallpaper/2015/05/funny-cat-books-7-high-resolution-wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  .jumbotron {
    
    background: rgba(200, 54, 54, 0.0); 
 }

 h1 {
 font-family: fantasy;
 font-style: italic;
 color: white;
 }

 h3 {
  font-family: fantasy;
  font-style: italic;
  color: white;
  font-size: 16px;
 }

 h5 {
  font-family: fantasy;
  font-style: italic;
  color: white;

 }